<div class="row">
    <div class=" col-md-6 m-auto">
        <div class="container mt-5">
            <h2 class="text-center">Admin Login</h2>
            <form action="/admin/admin-login" method="post">

                {{#if loginErr}}
                <div
                    style="background-color: rgba(245, 150, 150, 0.59); padding: 5px; width: 27rem; border-radius: 5px; margin:10px 0;">
                    <p style="margin: 10px 30px; font-size: 15px;">{{loginErr}}</p>

                </div>
                {{/if}}


                <div class="form-group">
                    <label>ID</label>
                    <input type="number" name="Id" class="form-control" placeholder="id">
                </div>

                <div class="form-group mt-4">
                    <label>Username</label>
                    <input type="text" name="Username" class="form-control" placeholder="username">
                </div>

                <div class="form-group mt-4">
                    <label>Password</label>
                    <input type="password" name="Password" class="form-control" placeholder="password" </div>

                    <div class="mt-5">
                        {{!-- <a style="margin-left: 300px;" href="/admin/admin-signup">Create new account</a> --}}
                        <button style="margin-left: 20px;" type="submit" class="btn btn-success">Login</button>
                    </div>

            </form>
        </div>
    </div>
</div>