<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5">
            <h2 class="text-center">Admin SignUp</h2>
            <form action="/admin/admin-signup" method="post">

                <div class="form-group">
                    <label>ID</label>
                    <input type="number" name="Id" class="form-control" placeholder="id">
                </div>


                <div class="form-group mt-4">
                    <label>Username</label>
                    <input type="text" name="Username" class="form-control" placeholder="username">
                </div>

                <div class="form-group mt-4">
                    <label>Email</label>
                    <input type="text" name="Email" class="form-control" placeholder="email">
                </div>

                <div class="form-group mt-4">
                    <label>Password</label>
                    <input type="password" name="Password" class="form-control" placeholder="password">
                </div>

                <div class="mt-5">
                    <a style="margin-left: 300px;" href="/admin/admin-login">Already have account</a>
                    <button style="margin-left: 20px;" type="submit" class="btn btn-success">Signup</button>
                </div>

            </form>
        </div>
    </div>
</div>