<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5">
            <h2 class="text-center">Login</h2>
            <form action="/login" method="post">

            {{#if loginErr}}
            <div style="background-color: rgba(245, 150, 150, 0.59); padding: 5px; width: 27rem; border-radius: 5px; margin:10px 0;" >
                <p style="margin: 10px 30px; font-size: 15px;">{{loginErr}}</p> 

            </div>
            {{/if}}

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="Email" class="form-control" placeholder="email">
                </div>

                 <div class="form-group mt-4">
                    <label>Password</label>
                    <input type="password" name="Password" class="form-control" placeholder="password"
                </div>
                <div class="mt-5">
                    <a style="margin-left: 300px;" href="/signup">Create new account</a>
                    <button style="margin-left: 20px;" type="submit" class="btn btn-success">Login</button>
                </div>

            </form>
        </div>
    </div>
</div>